/*header部分开始*/
	.header{
		height: 32px;
		background-color: #fafafa;
		border-bottom: 1px solid #eee;
	}
	.header_lf{
		line-height: 32px;
	}
	.header_lf>i{
		width: 13px;
		height: 13px;
		background-position: -90px -23px;
		margin-top: -4px;
	}
	.header_lf_second>i{
		width: 13px;
		height: 22px;
		background-position: -128px -360px;
		margin-top: -4px;
	}
	.header_lf_second:hover>i{
		background-position: -128px -399px;
	}
	.header_lf_xiala>i{
		width: 7px;
		height: 5px;
		background-position: -96px -54px;
		margin-top: -4px;
		margin-left: 1px;
	}
	.header_rf>li{
		float: left;
		line-height: 32px;
		margin: 0 3px;
	}
	.header_rf_vip>b{
		background-image: url(../images/vip.jpg);
		width: 24px;
		height: 11px;
	}
	.header_rf_bjd>b{
		background-image: url(../images/dakehu.jpg);
		width: 21px;
		height: 11px;
	}

/*search部分开始*/
	.search{
		height: 76px;
		/*border: 1px solid blue;*/
	}
	.search_middle{
		line-height: 76px;
		width: 480px;
		height: 76px;
		margin-left: 427px;
	}
	.search1{
		height: 34px;
		width: 392px;
		border: 1px solid #ee4444;
		padding-left: 4px;
	}
	.search2{
		height:34px;
		width: 82px;
		background-color: #ee3233;
		margin-left: -4px;
		border: 1px solid #ee3233;
	}
	.search_middle_down{
		height: 20px;
		width: 469px;
		/*border: 1px solid purple;*/
		margin-top: -20px;
	}
	#search_middle_down_a{
		color: #999999;
	}
	.search_middle_down>li{
		line-height: 20px;
		float: left;
		color:#999999;
		font-size: 12px;
		margin-left: 3px;
	}
	.search_middle_down>a{
		color:#999999;
		font-size: 12px;
	}
	.search_lf{
		line-height: 76px;
		margin-top: 12px;
		height: 76px;
	}
	/*.search_rf{
		line-height: 76px;
		width: 254px;
		margin-top: -28px;
		height: 76px;
	}*/
	.search_rf_myjd{	
		/*width: 110px;
		height: 30px;
		border: 1px solid #eeeeee;
		background-color: #fafafa;
		line-height: 30px;
		color: #eeeeee;	
		/*margin-left: 50px;
		margin-top: 18px;*/
		/*text-align: center;
		float: left;*/
		border:1px solid #eee;
		width: 110px;
		height: 31px;
		line-height: 31px;
		text-align: center;
		margin-right:21px;
		margin-top: -43px;
		float: left;
		color: #706e70;
		background-color: #fafafa;
	}
	.search_rf_myjd>i{
		width: 20px;
		height: 17px;
		background-position: -121px -30px;
		margin-top: -4px;
	}
	.search_rf_myjd:hover>i{
		background-position: -121px -60px;
	}
	.search_rf_shopping{
		/*width: 125px;
		height: 31px;
		border: 1px solid #eeeeee;
		background-color: #fafafa;
		float: right;
		font-size: 12px;
		line-height: 31px;
		margin-top: -33px;
		color: #706e70;*/
		border:1px solid #eee;
		width: 125px;
		height: 31px;
		line-height: 31px;
		text-align: center;
		margin-top: -43px;
		margin-right: 1px;
		float: right;
		color: #706e70;
		background-color: #fafafa;
	}
	.search_rf_xiaoren>i{
		width: 20px;
		height: 17px;
		background-position: -121px -30px;
		margin: 0 5px 1px 5px;
	}
	.search_rf_myjd>.tri{
		border: 5px solid #706e70;
		display: inline-block;
		border-color: #706e70 transparent transparent transparent;
		vertical-align: middle;
		margin-top: 6px;
		margin-left: 8px;
	}
	.search_rf_shopping>i{
		/*width: 20px;
		height: 17px;
		background-position: -121px -90px;
		margin: 0 5px 1px 5px;*/
		background-position: -121px -90px;
		width:20px; 
		height:17px;
  	  margin:-1px 3px 0px -5px;
	}
	.search_rf_shopping:hover>i{
		background-position: -121px -120px;
	}
	.search_rf_shopping>.search_rf_zuola>i{
		width: 6px;
 		height: 9px;
 		background-position: -112px -45px;
 		margin-top:-65px;
 		margin-left: 100px;
	}

/*nav部分开始*/
	.nav{
	/*border: 1px solid green;*/
	height: 455px;

	}
	.nav_top{
	width: 1211px;
 	background-color: #ee4444;
 	height: 42px;
 	float: left;
 	margin-top: -10px;
	}
  .nav_top>.nav_top_sp>a{
	width:153px;
	height: 42px;
	line-height: 42px;
	text-align: center;
	background-color: #cc2223;
  }
  .nav_top>li>a{
 	float: left;
 	padding-right: 30px;
 	padding-left: 30px;
 	color: #ffeecc;
 	text-align: center;
 	line-height: 42px;
 	color: white;
 	font-family: "宋体";
 	font-size: 18px;
  }
  .nav_top>li>a:hover{
  	background-color: #cc2223;
  }
  .nav_mid{
	height: 412px;
  }
  .nav_mid_left{
 	border: 1px solid #ee4444;
 	width:211px;
 	height: 412px;
 	float: left;
  }
  .nav_mid_left>li{
 	width: 211px;
 	padding-left: 15px;
 	padding-right: 54px;
 	padding-bottom: 21px;
 	/*padding-top: 3px;*/
 	font-size: 15px;
 	margin-top: 13px;
 	line-height: 18px;
 	font-family: "宋体";
 	font-weight: bold;
  }
  .nav_mid_center{
 	width: 689px;
 	float: left;
 	/*margin-left: 10px;
 	margin-top: 10px;*/
 	height: 412px;
 	border: 1px solid #ffffff;
  }
  .nav_mid_center_up{
 	width: 669px;
 	height: 239px;
 	margin-left: 10px;
 	margin-top: 10px;
 	/*float: left;*/
  }
  .nav_mid_center_down{
	width: 669px;
	height: 163px;
	border-left: 1px solid #eeeeee;
 	border-right: 1px solid #eeeeee;
 	border-bottom: 1px solid #eeeeee;
 	margin-left: 8px;
  }
  .nav_mid_center_down>.pic{
 	float: left;
 	margin-left: 60px;
 	margin-top: -70px;
  }
  .left_arrows>i{
  	width: 30px;
	height: 37px;
	display: inline-block;
	vertical-align: middle;
	background-position: 6px 5px;
	background-image: url(../images/ad-arraw.png);
	background-repeat: no-repeat;
	margin:52px 0px 0px 0px;
  }
  .left_arrows>i:hover{
  	width: 30px;
	height: 37px;
	display: inline-block;
	vertical-align: middle;
	background-position: 6px 5px;
	background-image: url(../images/ad-arraw-hover.png);
	background-repeat: no-repeat;
	margin:52px 0px 0px 0px;
  }
  .right_arrows>i{
  	width: 30px;
	height: 37px;
	margin:-171px 0px 0px 640px ;
	background-position: -6px -42px;
	background-image: url(../images/ad-arraw.png);
	background-repeat: no-repeat;
	display: inline-block;
	vertical-align: middle;
  }
  .right_arrows>i:hover{
  	width: 30px;
	height: 37px;
	margin:-171px 0px 0px 640px ;
	background-position: -6px -42px;
	background-image: url(../images/ad-arraw-hover.png);
	background-repeat: no-repeat;
	display: inline-block;
	vertical-align: middle;
  }
  .nav_mid_right{
 	width: 309px;
	float: right;
  }
  .nav_mid_right>.pic{
 	width: 310px;
 	height: 70px;
	margin-top: -403px;
	margin-left: 2px;
  }
  .nav_mid_right_word{
 	height: 140px;
 	width: 310px;
  }
  .nav_mid_right_word>li{
  	height: 20px;
  	line-height: 20px;
  }
  .nav_mid_right_word>.left_word{
 	font-size: 14px;
 	font-weight: bold;
 	float: left;
  }
  .nav_mid_right_word>.right_word>a{
 	font-size: 12px;
 	color: #0254b2;
 	float: right;
   }
   .nav_mid_right_word>.middle{
  	 width: 298px;
  	 height: 118px;
  	 border: 1px solid #aaaaaa;
  	 border-top: 3px solid #aaaaaa;
  	 padding-top: 17px;
  	 padding-left: 10px;
  	 font-size: 12px;
  	 line-height: 28px;
   }
   .nav_mid_right_word>.middle>.left{
     width: 149px;
   	 float: left;
   }
   .nav_mid_right_word>.middle>.right{
	 width: 158px;
	 float: right;
	 margin-top: -113px;
   }
   .nav_mid_down{
   	 float: left;
   	 width: 309px;
     height: 172px;
   	 border-top: 1px solid #aaaaaa;
   	 border-left: 1px solid #aaaaaa;
   	 margin-top: -175px;
   }
    .nav_mid_down>li{
    	float: left;
    	width: 76px;
    	height: 86px;
    	border-right: 1px solid #aaaaaa;
    	border-bottom: 1px solid #aaaaaa;
    	line-height: 121px;
    	text-align: center;
    	font-size: 13px;
    }
    .nav_mid_down>li>i{
    	background-image: url(../images/virtuals-20140606.png);
    	width: 42px;
		height: 33px;
    }
    .nav_mid_down_1>i{
		background-position: -0px -0px; 
		margin:-79px -34px 0px -6px; 	
    }
    .nav_mid_down_2>i{
		background-position: -0px -50px; 
		margin:-77px -34px 0px -6px;
    }
    .nav_mid_down_3>i{
		background-position: -126px -0px; 
		margin:-77px -34px 0px -6px;
    }
    .nav_mid_down_4>i{
		background-position: -189px -0px; 
		margin:-83px -34px 0px -6px;
    }
    .nav_mid_down_5>i{
		background-position: -63px -0px; 
		margin:-77px -33px 0px -6px;
    }
    .nav_mid_down_6>i{
		background-position: -63px -50px; 
		margin:-76px -39px 0px -6px;
    }
    .nav_mid_down_7>i{
		background-position: -127px -50px; 
		margin:-83px -34px 0px -6px;
    }
    .nav_mid_down_8>i{
		background-position: -189px -50px; 
		margin:-74px -38px 0px -6px;
    }

/*content活动内容部分*/
	.content{
		height: 432px;
		position: relative;
		top: 400px;
		margin-top: -400px;
		/*border: 1px solid green;*/
	}
	.content>.up{
		height: 46px;
		margin-top: -3px;
	}
	.content_left_word{
		font-size: 17px;
		font-weight: bold;
		width: 100px;
		line-height: 45px;
		float: left;
		margin-top: -405px;
	}
	.content_right_word{
		font-size: 13px;
		font-weight: bold;
		width: 97px;
		/*margin: -30px 110px;*/
		font-style: italic;
		margin-top: -389px;
		margin-left: 118px;
		float: left;
	}
	.content>.down{
		height: 383px;
		width: 1209px;
		float: left;
		position: relative;
		bottom: 373px;
		margin-top: 23px;
	}
	.content>.down>img{
		width: 299px;
	}
	.ad{
		position: relative;
		width: 300px;
		height: 188px;
		overflow: hidden;
		float: left;
	}
	/*.ad>img{
		width: 100%;
	}*/
	.ad_child{
		position: absolute;
		left: 0;
		top: 0;
		width: 120px;
		height: 190px;
		margin: 15px;
	}
	.title{
		font-weight: bold;
		color: #333;
		font-size: 15px;
	}
	.title_fu{
		font-weight: bolder;
		color: #666;
		font-size: 12px;
	}
	.des{
		font-weight: bold;
		color: red;
		font-size: 12px;
	}

/*main主内容开始*/
	.main{
		height: 1256px;
		/*border: 1px solid red;*/
	}
	.main_up{
		height: 399px;
		/*border: 1px solid #aaaaaa;*/
		margin-top: 416px;
		border-bottom: 1px solid #aaaaaa;
	}
	.main_up_1floor{
		height: 34px;
		border-bottom: 2px solid #aaaaaa;
	}
	.main_up_1floor>li>i{
		background-image: url(../images/index_iconlist_01.png);
	}
	.main_up_1floor>li:nth-child(1)>i{
		width: 26px;
		height: 33px;
		background-position: 0 0;
		/*padding-top: 5px;*/
		padding-left: 6px;
		font-family: "黑体";
		color: #ffffff;
		font-style: normal;
		font-size: 11px;
		margin-left: -50px;
		line-height: 33px;
	}
	.main_up_1floor>li:nth-child(1)>i:hover{
		background-position: -40px 0;
	}
	.main_up_1floor>li{
		float: left;
		font-size: 15px;
		margin-left: 51px;
		line-height: 33px;
		color: #323233;
	}
	.main_up_1floor>li:nth-child(2){
		float: left;
		font-size: 18px;
		font-weight: bold;
		margin-left: 35px;
	}
	.main_up_1floor>li:nth-child(8){
		float: right;
		font-size: 12px;
		/*margin-left: 50px;*/	
	}
	.main_up_1floor>li:nth-child(8)>a{
		color: #0166c2;
	}
	.main_up_1floor>li:nth-child(9){
		float: right;
		font-size: 12px;
		margin-left: 16px;
	}
	.main_up_1floor>li:nth-child(9)>a{
		color: #0166c2;
	}
	.main_up_left{
		width: 211px;
		height: 362px;
		border-right: 1px solid #aaaaaa;
		/*border-bottom: 1px solid #aaaaaa;*/
	}
	.main_up_left>.left{
		height: 205px;
		font-size: 12px;
		line-height: 25px;
		float: left;
		margin-top: 18px;
		margin-left: 25px;
	}
	.main_up_left>.right{
		height: 205px;
		font-size: 12px;
		line-height: 25px;
		float: right;
		margin-top: 18px;
		margin-right: 44px;
	}
	.main_up_center{
		/*width: 789px;*/
		height: 362px;
		float: left;
	}
	.main_up_center>.up_1{
		width: 157px;
		height: 180px;
		float: left;
		margin-left: 212px;
		margin-top: -363px;
		border-top: 1px solid #aaaaaa;
		border-right: 1px solid #aaaaaa;
		border-bottom: 1px solid #aaaaaa;
		text-align: center;
	}
	.main_up_center>.up_1>img{
		margin-left: 2px;
		margin-top: 3px;
	}
	.main_up_center>.up_1>li{
		margin-left: 2px;
		font-size: 12px;
		line-height: 20px;
		margin-top: -3px;
	}
	.main_up_center>.up_1>.word_3>a{
		color: #ee4444;
		margin-left: 5px;
	}
	.main_up_center>.up_2{
		width:473px;
		height:180px;
		margin-left: 370px;
		margin-top: -363px;
		border-right: 1px solid #aaaaaa;
		border-bottom: 1px solid #aaaaaa;
	}
	.main_up_center>.up_3{
		width: 157px;
		height: 180px;
		margin-left: 844px;
		margin-top: -181px;
		border-right: 1px solid #aaaaaa;
		border-bottom: 1px solid #aaaaaa;
	}
	.main_up_center>.up_3>img{
		margin-left: 25px;
		margin-top: 7px;
	}
	.main_up_center>.up_3>li{
		margin-left: -6px;
		font-size: 12px;
		line-height: 20px;
		text-align: center;
	}
	.main_up_center>.up_3>.word_2>a{
		color: #ee4444;
	}

	.main_up_center>.down_1{
		width: 157px;
		height: 181px;
		margin-left: 212px;
		border-right: 1px solid #aaaaaa;
		/*margin-top: -111px;*/
	}
	.main_up_center>.down_1>img{
		margin-left: 25px;
		margin-top: 7px;
	}
	.main_up_center>.down_1>li{
		margin-left: 4px;
		font-size: 12px;
		line-height: 20px;
		text-align: center;
	}
	.main_up_center>.down_1>.word_2>a{
		color: #ee4444;
	}
	.main_up_center>.down_2{
		width: 157px;
		height: 182px;
		margin-left: 370px;
		border-right: 1px solid #aaaaaa;
		margin-top: -180px;
	}
	.main_up_center>.down_2>img{
		margin-left: 25px;
		margin-top: 14px;
	}
	.main_up_center>.down_2>li{
		margin-left: 5px;
		font-size: 12px;
		line-height: 20px;
		text-align: center;
	}
	.main_up_center>.down_2>.word_2>a{
		color: #ee4444;
		margin-left: -10px;
	}
	.main_up_center>.down_3{
		width: 157px;
		height: 182px;
		margin-left: 528px;
		border-right: 1px solid #aaaaaa;
		margin-top: -183px;
	}
	.main_up_center>.down_3>img{
		margin-left: 25px;
		margin-top: 14px;
	}
	.main_up_center>.down_3>li{
		margin-left: 5px;
		font-size: 12px;
		line-height: 20px;
		text-align: center;
	}
	.main_up_center>.down_3>.word_2>a{
		color: #ee4444;
		margin-left: -10px;
	}
	.main_up_center>.down_4{
		width: 157px;
		height: 182px;
		margin-left: 686px;
		border-right: 1px solid #aaaaaa;
		margin-top: -183px;
	}
	.main_up_center>.down_4>img{
		margin-left: 25px;
		margin-top: 14px;
	}
	.main_up_center>.down_4>li{
		margin-left: -1px;
		/*margin-top: 7px;*/
		font-size: 12px;
		line-height: 20px;
		text-align: center;
	}
	.main_up_center>.down_4>.word_2>a{
		color: #ee4444;
		margin-left: -10px;
	}
	.main_up_center>.down_5{
		width: 157px;
		height: 182px;
		margin-left: 844px;
		border-right: 1px solid #aaaaaa;
		margin-top: -181px;
	}
	.main_up_center>.down_5>img{
		margin-left: 25px;
		margin-top: 14px;
	}
	.main_up_center>.down_5>li{
		margin-left: 4px;
		font-size: 12px;
		line-height: 20px;
		text-align: center;
	}
	.main_up_center>.down_5>.word_2>a{
		color: #ee4444;
		margin-left: -10px;
	}
	.main_up_right{
		width: 210px;
		height: 361px;
		position: relative;
		top: -724px;
		left: 1005px;
	}
	.main_up_2floor{
		height: 399px;
		border-bottom: 1px solid #aaaaaa;
		margin-top: 420px;
		position: relative;
		top: -398px;
	}
	.main_up_3floor{
		height: 399px;
		border-bottom: 1px solid #aaaaaa;
		margin-top: 420px;
		position: relative;
		top: -796px;
	}

/*footer部分*/
	.footer{
		height: 390px;
		/*border: 1px solid red;*/
	}
	.footer_up{
		height: 192px;
		border-top: 2px solid #aaaaaa;
		border-bottom: 1px solid #aaaaaa;
	}
	.footer_up>.up_1{
		font-size: 12px;
		width: 99px;
		height: 142px;
		line-height: 20px;
		position: relative;
		top: -755px;
		left: -921px;
		float: left;
	}
	.footer_up>.up_1_sprite>i{
		background-image: url(../images/iconlist_2.png);
		background-position: 0 -55px;
		width: 40px;
		height: 40px;
		position: relative;
		left: -968px;
		top: 19px;
	}
	.footer_up>.up_1>li:nth-child(1){
		font-size: 13px;
		font-weight: bold;
		line-height: 25px;
	}
	
	.footer_up>.up_2{
		font-size: 12px;
		width: 99px;
		height: 142px;
		line-height: 20px;
		position: relative;
		top: -752px;
		left: -768px;
		float: left;
	}
	.footer_up>.up_2_sprite>i{
		background-image: url(../images/iconlist_2.png);
		background-position: -50px -55px;
		width: 40px;
		height: 40px;
		position: relative;
		top: -20px;
		left: -715px;
	}
	.footer_up>.up_2>li:nth-child(1){
		font-size: 13px;
		font-weight: bold;
		line-height: 25px;
	}

	.footer_up>.up_3{
		font-size: 12px;
		width: 99px;
		height: 142px;
		line-height: 20px;
		position: relative;
		top: -892px;
		left: -418px;
		float: left;
	}
	.footer_up>.up_3_sprite>i{
		background-image: url(../images/iconlist_2.png);
		background-position: 0 -102px;
		width: 40px;
		height: 40px;
		position: relative;
		top: -59px;
		left: -468px;
	}
	.footer_up>.up_3>li:nth-child(1){
		font-size: 13px;
		font-weight: bold;
		line-height: 25px;
	}

	.footer_up>.up_4{
		font-size: 12px;
		width: 99px;
		height: 142px;
		line-height: 20px;
		position: relative;
		top: -892px;
		left: -295px;
		float: left;
	}
	.footer_up>.up_4_sprite>i{
		background-image: url(../images/iconlist_2.png);
		background-position: -50px -102px;
		width: 40px;
		height: 40px;
		position: relative;
		top: -99px;
		left: -246px;
	}
	.footer_up>.up_4>li:nth-child(1){
		font-size: 13px;
		font-weight: bold;
		line-height: 25px;
	}

	.footer_up>.up_5{
		font-size: 12px;
		width: 99px;
		height: 142px;
		line-height: 20px;
		position: relative;
		top: -1034px;
		left: 25px;
		float: left;
	}
	.footer_up>.up_5_sprite>i{
		background-image: url(../images/iconlist_2.png);
		background-position: 0 -149px;
		width: 40px;
		height: 40px;
		position: relative;
		top: -140px;
		left: -24px;
	}
	.footer_up>.up_5>li:nth-child(1){
		font-size: 13px;
		font-weight: bold;
		line-height: 25px;
	}
	.footer_middle{
		float: left;
		position: relative;
		top: -977px;
		left: 183px;
		/*width: 748px;*/
		height: 17px;
	}
	.footer_middle>li{
		float: left;
		font-size: 12px;
		text-align: center;
		padding-left: 10px;
		/*padding-right: 10px;*/
	}
	.footer_center{
		float: left;
		height: 78px;
		font-size: 12px;
		text-align: center;
		line-height: 21px;
		position: relative;
		top: -955px;
		left: 204px;
		/*margin-top: -955px;
		margin-left: 201px;*/
	}
	.footer_down{
		height: 42px;
		float: left;
		position: relative;
		top: -938px;
		left: 296px;
		/*margin-top: -857px;
		margin-left: 290px;*/
	}
	.footer_down>img{
		padding-left: 25px;
	}

	
